.container div img.logo {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  border-radius: 10%;
}

.container div h1.titulo {
  margin-top: 25px 0px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 25px;
  color: black;
  width: 100%;
}

.container .card {
  margin-bottom: 50px;
}

.container .row .col img.Banner {
  width: 100%;
  margin-bottom: 25px;
}
